#search
{
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 60px;
	
}

.form
{
	margin-left: 10px;
	margin-right: 10px;
}

#table1
{
	width: 60%;
	margin-bottom: 80px;
	margin-top: 40px;
	margin-left: 200px;
	margin-right: 0px;
}

#table2
{
	margin-bottom: 40px;
	margin-top: 40px;
	width: 100%;
}

